PORT=3000
NODE_ENV=development

# Postgres.app: postgresql://TU_USUARIO_MAC@localhost:5432/chemsystem
DATABASE_URL=postgresql://tamaraalison@localhost:5432/chemsystem

JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:5173
